# 4.Reves_to_production

For now, all this project has been developed on Jupyter notebook, but now is time to use the code on a production enviroment. We have developed a web app that takes inputs from the user, transforms them into a DataFrame, runs the xgboost model with it and returns the predicted revenue and the final data inputs. 

- Load libraries and data
- Take inputs from user
- Transform data to suitable Python d-types
- Create DataFrame
- Apply model
- Transform used data to show it back to the user

All that code is in revesapp.py file, but we have created this final notebook with all the transformations for easier understanding.

### Load libraries and data

In [32]:
import numpy as np
import pandas as pd
import pickle
import revesFunctions as rf

with open("transformation/collection_dict.pickle", "rb") as handle:
    collection_dict = pickle.load(handle)
    
with open("transformation/genres_dict.pickle", "rb") as handle:
    genres_dict = pickle.load(handle)

with open("transformation/language_dict.pickle", "rb") as handle:
    language_dict = pickle.load(handle)
    
with open("transformation/production_company_dict.pickle", "rb") as handle:
    production_company_dict = pickle.load(handle)
    
with open("transformation/cast_dict.pickle", "rb") as handle:
    cast_dict = pickle.load(handle)
    
with open("transformation/cast_gender_dict.pickle", "rb") as handle:
    cast_gender_dict = pickle.load(handle)
    
with open("transformation/directors_dict.pickle", "rb") as handle:
    directors_dict = pickle.load(handle)
    
with open("transformation/writers_dict.pickle", "rb") as handle:
    writers_dict = pickle.load(handle)
    
with open("transformation/keywords_dict.pickle", "rb") as handle:
    keywords_dict = pickle.load(handle)
    
with open("transformation/month_dict.pickle", "rb") as handle:
    month_dict = pickle.load(handle)
    
with open("transformation/weekday_dict.pickle", "rb") as handle:
    weekday_dict = pickle.load(handle)
    
xgbo = pickle.load(open("xgbo_model.pkl","rb"))

### Take inputs from user

We have used WTforms to create a HTML & Flask form. https://revesapp.herokuapp.com/get-the-number.html

We ask the user to introduce the following features (Examples have been writen to run a test on this notebook).

In [8]:
title="Your movie's"
directors=["Ruben Fleischer"]
scriptwriters=['Jeff Pinkner', 'Scott Rosenberg', 'Kelly Marcel', 'Todd McFarlane', 'David Michelinie']
cast_names=['Tom Hardy', 'Michelle Williams', 'Riz Ahmed', 'Scott Haze']
main_actor_genre=[2]
collection=0
collection_name=['Venom Collection']
genres=[]
genres_count=2
language="2"
planguage=[]
production_companies=['Avi Arad Productions', 'Columbia Pictures Corporation', 'Marvel Entertainment', 'Matt Tolmach Productions',
'Pascal Pictures', 'Sony Pictures Entertainment (SPE)', 'Tencent Pictures']

runtime=120
imax=1
d3=2
month=[7]
weekday=[3]
keywords=[]

drama="drama"
comedy=""
thriller=""
action="action"
romance="a"
adventure=""
crime="a"
science_fiction=""
horror="horror"
family=""
fantasy=""
mystery=""
animation=""
history=""
music=""
war=""
documentary=""
western=""
foreign=""
tv=""

### Transform data to suitable Python d-types

When collecting data from wtform fields, some features do not match model's requirements.

In [ ]:
companies_count = len(production_companies)

genres = [drama, comedy, thriller, action, romance, adventure, crime, science_fiction, horror, family, fantasy,
                 mystery, animation, history, music, war, documentary, western, foreign, tv]
genres = [x for x in genres if x != "None"]
genres_count = len(genres)

if imax == 2:
    if "imax" not in keywords:
        keywords.append("imax")

if d3 == 2:
    if "3d" not in keywords:
        keywords.append("3d")

if planguage == 1:
    language="en"
elif planguage == 2:
    language="no"

### Create DataFrame

### Apply model

### Transform used data to show it back to the user

On the result page, there's a Data Summary that shows the user the data Reves has used to predict revenue, just as a "sumbit record". https://revesapp.herokuapp.com/get-the-number-result.html

Can't render the format directly into html file with flask. That's why we have to format the number and save it back to the variable before passing values to front-end and rendering the html template.

In [ ]:
revenue='{0:,}'.format(revenue)

Data is stored in lists. We don't want users to read Data Summary with Python syntax. We have to transform values back to strings for easier understanding.

In [ ]:
directors=(', '.join(directors))
scriptwriters=(', '.join(scriptwriters))
cast_names=(', '.join(cast_names))

if main_actor_genre[0]=="2":
        main_actor_genre="Male"
elif main_actor_genre[0]=="1":
        main_actor_genre="Female"
    else:
        main_actor_genre="No value"

collection_name=collection_name[0]
genres=(', '.join(genres))
production_companies=(", ".join(production_companies))
keywords = (", ".join(keywords))

if language=="en":
    language="English"
elif language=="no":
    language="Not English"

if month[0]=="1":
    month="January"
elif month[0]=="2":
    month="February"
elif month[0]=="3":
    month="March"
elif month[0]=="4":
    month="April"
elif month[0]=="5":
    month="May"
elif month[0]=="6":
    month="June"
elif month[0]=="7":
    month="July"
elif month[0]=="8":
    month="August"
elif month[0]=="9":
    month="September"
elif month[0]=="10":
    month="October"
elif month[0]=="11":
    month="November"
elif month[0]=="12":
    month="December"

if weekday[0]=="1":
    weekday="Monday"
elif weekday[0]=="2":
    weekday="Tuesday"
elif weekday[0]=="3":
    weekday="Wednesday"
elif weekday[0]=="4":
    weekday="Thursday"
elif weekday[0]=="5":
    weekday="Friday"
elif weekday[0]=="6":
    weekday="Saturday"
elif weekday[0]=="7":
    weekday="Sunday"

### Index pages

In [ ]:
def directors():
    import pandas as pd
    directors=pd.read_pickle("./docs/dicts/directors_dict.pickle")
    b=sorted(list(directors.keys()))
    c=len(b)
    return render_template("directors-index.html",directors=directors,b=b,c=c)

## Let's Reves

In [11]:
companies_count = len(production_companies)

genres = [drama, comedy, thriller, action, romance, adventure, crime, science_fiction, horror, family, fantasy,
                 mystery, animation, history, music, war, documentary, western, foreign, tv]
genres = [x for x in genres if x != "None"]
genres_count = len(genres)

if imax == 2:
    if "imax" not in keywords:
        keywords.append("imax")

if d3 == 2:
    if "3d" not in keywords:
        keywords.append("3d")

if planguage == 1:
    language="en"
elif planguage == 2:
    language="no"

data = [directors, 
        scriptwriters, 
        collection_name, 
        genres, 
        language,
        production_companies,
        runtime,
        keywords,
        month,
        weekday,
        cast_names,
        companies_count,
        title,
        genres_count,
        main_actor_genre]

x = pd.DataFrame([data], columns=['directors', 'writers', 'belongs_to_collection', 'genres',
       'original_language', 'production_companies', 'runtime', 'keywords',
       'release_month', 'release_weekday', 'cast_names',
       'production_companies_counter', 'title', 'genres_counter',
       'main_actor_genre'])

x["directors"] = x["directors"].apply(lambda x: [rf.clean(name) for name in x])
x["directors"] = x["directors"].apply(rf.get_mean, variable_mean_dict=directors_dict)

x["writers"] = x["writers"].apply(lambda x: [rf.clean(name) for name in x])
x["writers"] = x["writers"].apply(rf.get_mean, variable_mean_dict=writers_dict)

x["genres"] = x["genres"].apply(lambda x: [rf.clean(name) for name in x])
x["genres"] = x["genres"].apply(rf.get_mean, variable_mean_dict=genres_dict)

x["cast_names"] = x["cast_names"].apply(lambda x: [rf.clean(name) for name in x])
x["cast_names"] = x["cast_names"].apply(rf.get_mean, variable_mean_dict=cast_dict)

x["belongs_to_collection"] = x["belongs_to_collection"].apply(lambda x: [rf.clean(name) for name in x])
x["belongs_to_collection"] = x["belongs_to_collection"].apply(rf.get_mean, variable_mean_dict=collection_dict)

x["original_language"] = x["original_language"].apply(lambda x: [rf.clean(name) for name in [x]])
x["original_language"] = x["original_language"].apply(rf.get_mean, variable_mean_dict=language_dict)

x["production_companies"] = x["production_companies"].apply(lambda x: [rf.clean(name) for name in x])
x["production_companies"] = x["production_companies"].apply(rf.get_mean, variable_mean_dict=production_company_dict)

x["release_month"] = x["release_month"].apply(rf.get_mean, variable_mean_dict=month_dict)
x["release_weekday"] = x["release_weekday"].apply(rf.get_mean, variable_mean_dict=weekday_dict)

x["keywords"] = x["keywords"].apply(lambda x: [rf.clean(name) for name in x])
x["keywords"] = x["keywords"].apply(rf.get_mean, variable_mean_dict=keywords_dict)

x["main_actor_genre"] = x["main_actor_genre"].apply(rf.get_mean, variable_mean_dict=cast_gender_dict)

In [12]:
x

,directors,writers,belongs_to_collection,genres,original_language,production_companies,runtime,keywords,release_month,release_weekday,cast_names,production_companies_counter,title,genres_counter,main_actor_genre
0,9.062216e+07,8.404599e+07,1.937812e+08,1.201958e+08,7.165012e+07,4.758371e+08,120,4.621252e+08,1.585923e+08,1.279176e+08,1.281867e+08,7,Your movie's,20,1.763220e+08

In [13]:
x= x.drop(["title"], axis = 1).values

In [14]:
values

NameError: name 'values' is not defined

In [ ]:
revenue=xgbo.predict(values)[0]

In [ ]:
revenue

In [ ]:
test_df.iloc[0]

In [ ]:
test_df.iloc[0]["cast_names"]

In [15]:
a=["fiohwe","owe","nfprij"]

In [23]:
b=(', '.join(a))

In [24]:
b

'fiohwe, owe, nfprij'

In [25]:
release_month=["5"]

In [26]:
release_month[0]

'5'

In [29]:
'{0:,}'.format(82444880)

'82,444,880'

In [35]:
test_df.values

array([[list(['Ruben Fleischer']),
        list(['Jeff Pinkner', 'Scott Rosenberg', 'Kelly Marcel', 'Todd McFarlane', 'David Michelinie']),
        list(['Venom Collection']), list(['Action', 'Science Fiction']),
        'en',
        list(['Avi Arad Productions', 'Columbia Pictures Corporation', 'Marvel Entertainment', 'Matt Tolmach Productions', 'Pascal Pictures', 'Sony Pictures Entertainment (SPE)', 'Tencent Pictures']),
        112,
        list(['anti hero', 'based on comic', 'marvel comics', 'sony spiderverse']),
        list([10]), list([4]),
        list(['Tom Hardy', 'Michelle Williams', 'Riz Ahmed', 'Scott Haze']),
        7, 'Venom', 2, list([2])],
       [list(['Bradley Cooper']),
        list(['Eric Roth', 'Bradley Cooper', 'Will Fetters', 'Moss Hart', 'John Gregory Dunne', 'Joan Didion', 'Frank Pierson', 'William A. Wellman', 'Robert Carson']),
        list(['No']), list(['Drama', 'Music', 'Romance']), 'en',
        list(['Warner Bros. Pictures', 'Live Nation Productions', 'Metro-Goldwyn-Mayer (MGM)', 'Peters Entertainment', 'Gerber Pictures', 'Joint Effort', 'Malpaso Productions', 'Thunder Road Pictures']),
        136,
        list(['alcoholism', 'singer songwriter', 'alcoholic', 'singer', 'showbiz']),
        list([10]), list([4]),
        list(['Lady Gaga', 'Bradley Cooper', 'Sam Elliott', 'Andrew Dice Clay']),
        8, 'A Star is born', 3, list([1])],
       [list(['Ol Parker']),
        list(['Ol Parker', 'Richard Curtis', 'Catherine Johnson', 'Judy Craymer', 'ABBA']),
        list(['Mamma Mia! Collection']),
        list(['Comedy', 'Music', 'Romance']), 'en',
        list(['Universal Pictures', 'Legendary Entertainment', 'Perfect World Pictures', 'Littlestar', 'Playtone', 'Dentsu', 'Fuji Television Network', 'Croatian Audiovisual Centre']),
        114,
        list(['sequel', 'reference to abba', 'younger version of self', 'hotel', 'grand opening']),
        list([7]), list([4]),
        list(['Amanda Seyfried', 'Andy Garcia', 'Celia Imrie', 'Lily James']),
        8, 'Mamma Mia! Here We Go Again', 3, list([1])],
       [list(['Ryan Coogler']),
        list(['Joe Robert Cole', 'Ryan Coogler']),
        list(['Black Panther Collection']),
        list(['Action', 'Adventure', 'Science Fiction']), 'en',
        list(['Marvel Studios', 'Moonlighting Films', 'Korean Film Council', 'Film Victoria', 'Walt Disney Pictures']),
        134,
        list(['marvel comic', 'king', 'superhero', 'based on comic', 'africa']),
        list([2]), list([4]),
        list(['Chadwick Boseman', 'Michael B. Jordan', "Lupita Nyong'o", 'Danai Gurira']),
        5, 'Black Panther', 3, list([2])],
       [list(['Anthony Russo', 'Joe Russo']),
        list(['Stan Lee', 'Stephen McFeely', 'Christopher Markus']),
        list(['Avengers Collection']),
        list(['Action', 'Adventure', 'Science Fiction', 'Fantasy']),
        'en',
        list(['Marvel Studios', 'Jason Roberts Productions', 'South Pictures']),
        149,
        list(['marvel comic', 'death of recurring character', 'superhero', 'based on comic', 'supervillian', 'ensemble cast', 'iron man character']),
        list([4]), list([4]),
        list(['Robert Downey Jr.', 'Chris Hemsworth', 'Mark Ruffalo', 'Chris Evans']),
        3, 'Avengers: Infinity War', 4, list([2])]], dtype=object)

## Play

In [33]:
test_df = pd.read_pickle("data/test_df.pkl")
test_df

,directors,writers,belongs_to_collection,genres,original_language,production_companies,runtime,keywords,release_month,release_weekday,cast_names,production_companies_counter,title,genres_counter,main_actor_genre
0,[Ruben Fleischer],"[Jeff Pinkner, Scott Rosenberg, Kelly Marcel, ...",[Venom Collection],"[Action, Science Fiction]",en,"[Avi Arad Productions, Columbia Pictures Corpo...",112,"[anti hero, based on comic, marvel comics, son...",[10],[4],"[Tom Hardy, Michelle Williams, Riz Ahmed, Scot...",7,Venom,2,[2]
1,[Bradley Cooper],"[Eric Roth, Bradley Cooper, Will Fetters, Moss...",[No],"[Drama, Music, Romance]",en,"[Warner Bros. Pictures, Live Nation Production...",136,"[alcoholism, singer songwriter, alcoholic, sin...",[10],[4],"[Lady Gaga, Bradley Cooper, Sam Elliott, Andre...",8,A Star is born,3,[1]
2,[Ol Parker],"[Ol Parker, Richard Curtis, Catherine Johnson,...",[Mamma Mia! Collection],"[Comedy, Music, Romance]",en,"[Universal Pictures, Legendary Entertainment, ...",114,"[sequel, reference to abba, younger version of...",[7],[4],"[Amanda Seyfried, Andy Garcia, Celia Imrie, Li...",8,Mamma Mia! Here We Go Again,3,[1]
3,[Ryan Coogler],"[Joe Robert Cole, Ryan Coogler]",[Black Panther Collection],"[Action, Adventure, Science Fiction]",en,"[Marvel Studios, Moonlighting Films, Korean Fi...",134,"[marvel comic, king, superhero, based on comic...",[2],[4],"[Chadwick Boseman, Michael B. Jordan, Lupita N...",5,Black Panther,3,[2]
4,"[Anthony Russo, Joe Russo]","[Stan Lee, Stephen McFeely, Christopher Markus]",[Avengers Collection],"[Action, Adventure, Science Fiction, Fantasy]",en,"[Marvel Studios, Jason Roberts Productions, So...",149,"[marvel comic, death of recurring character, s...",[4],[4],"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",3,Avengers: Infinity War,4,[2]

In [6]:
def Reves(dataframe):
    xgbo = pickle.load(open("xgbo_model.pkl","rb"))
    X = dataframe.drop(["title"], axis = 1).values
    dataframe["Revenue (MM$)"] = xgbo.predict(X) / 1e6
    return dataframe[["title", "Revenue (MM$)"]]

In [7]:
Reves(test_df)

                         title  Revenue (MM$)
0                        Venom     171.874374
1               A Star is born      92.528725
2  Mamma Mia! Here We Go Again     127.554619
3                Black Panther     210.864822
4       Avengers: Infinity War     311.391235