In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
import ast
%matplotlib inline

#### LINKS DATA SET

Let's analyze the data set of Links. The target is to see what information there is, how it is structured, if there are null or empty data and finally obtain a final data set with the information that may be useful for the model

In [3]:
# I set dtype = "unicode" for low memory reasons, but I am not sure if it is necessary.

df_links = pd.read_csv("the_movies_dataset/links.csv", dtype = 'unicode')

In [4]:
df_links.head(5)

  movieId   imdbId tmdbId
0       1  0114709    862
1       2  0113497   8844
2       3  0113228  15602
3       4  0114885  31357
4       5  0113041  11862

In [5]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
movieId    45843 non-null object
imdbId     45843 non-null object
tmdbId     45624 non-null object
dtypes: object(3)
memory usage: 1.0+ MB

In [7]:
df_links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

After a first view of the dataframe we see that we have 3 variables: 
- id of the movie
- id of imbdb (https://www.imdb.com) 
- id of tmdb (https://www.themoviedb.org) 

In a first instance we put this information as backup in case we see that we need to add more data from these websites.

In this website (https://datasets.imdbws.com/) you can download information of the imbd movies.
<br>
The content of this data is explained on this website (https://www.imdb.com/interfaces). 
<br>
We see that there is no information about the budget or the revenue, so it could only be useful to complete data from movies that we already have this data but not those referring to gender, director, cast, etc ...

The information of the tmdb movies are in several kaggles. For example (https://www.kaggle.com/tmdb/tmdb-movie-metadata)
<br>
We can see that there are data about the budget and revenue so it could be useful to complete these information in those movies that we do not have them